/**********************General**********************/
body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.tip_value,
.total_cost,
.cost_per_person {
    font-size: 200%;
}
